::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: $white; 
}
 
::-webkit-scrollbar-thumb {
  background: $light-grayish-blue; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $grayish-blue; 
}
