// Colors
$white: #ffffff;
$black: #000000;
$green: #94cd74;
$red: #F56C6C;
$gray: #ebebeb;
$blue: #409EFF;
$very-dark: #303133;
$light-grayish-blue: #EBEEF5;
$grayish-blue: #A1A2B6;
$light-green: #f0f9eb;

// Colors for dark theme
$very-dark-grayish-blue: #2c313e;
$soft-blue: #5d75fa;
$very-dark-blue: #1a202e;
$very-dark-desaturated-blue: #242B3F;
